$primary-color: #03123D;

//white color
$white-color: #fff;

//gray color
$gray-color: #F9FAFD4D;
$gray-shade-1: #b3b5bd4d;
$gray-shade-2: #808080;

//blue color
$blue-color: #3B3F5C;
$blue-shade-1: #4D5875;

//pink color
$pink-color: #CB1A80;
